{% extends "app/base.html" %}
{% load static %}

{% block contenido %}

			<!-- Begin bread crumbs -->
			<nav class="bread-crumbs">
				<div class="container">
					<div class="row">
						<div class="col-12">
							<ul class="bread-crumbs-list">
								<li>
									<a href="{% url 'Inicio' %}">Inicio</a>
									<i class="material-icons md-18">chevron_right</i>
								</li>
								<li><a href="#!">Sobre Nosotros</a></li>
							</ul>
						</div>
					</div>
				</div>
			</nav><!-- End bread crumbs -->

			<div class="section">
				<div class="container">
					<div class="row">
						<div class="col-12">
							<div class="section-heading heading-center">
								<div class="section-subheading">Más Información</div>
								<h1>Sobre Nosotros</h1>
							</div>
							<div class="content">
								<div class="img-style">
									<img src="assets/img/about-img.jpg" alt="">
								</div>
								<h2>Quienes Somos</h2>
								<p>Somos una empresa relacioanda a convocatorias de empleos. </p>
								<p>La empresa EmpleosTI existe para solucionar la vida a los reclutadores, haciendose más eficientes los procesos de reclutamiento en las empresas por medio de tecnologías. Podrás generar un impacto directo en nuetras distintas plataformas, ya que lo que tú desarrollaras será usado por miles de personas y clientes de empresas en poco tiempo. </p>
                                <p>Nos enfocamos en mostrar algunos trabajos relacionados a diferentes carrerar, asi para que el usuario le llame la atención en querer trabajar en algunas de las areas que ofrecemos. Para nosotros es importante que nuestros usuarios se sientan agustos, satisfechos con nuestros servicios que ofrecemos.</p>
								<h3>Nuestro Objetivo</h3>
								<p>Objetivo General: Qué la página ayude a los jovenes o de diferentes edades que acaban de terminar sus estudio, que por falta de experiencia puedan conseguir empleo.</p>
								<p>Objetivo Personal: Ayudar a los jovenes que acaban de concluir sus estudiso a conseguir un emppleo, que no se les cierren las puertas por tener falta de conocimiento y no queden desempleados.</p>
							</div>
						</div>
					</div>
				</div>
			</div>

			<!-- Begin advantages -->
<section class="section section-bgc">
    <div class="container">
        <div class="row items">
            <div class="col-12">
                <div class="section-heading heading-center">
                    <div class="section-subheading">ALGUNAS RAZONES</div>
                    <h2>Conseguir un empleo por medio del internet</h2>
                </div> 
            </div>
            <div class="col-lg-4 col-md-6 col-12 item">
                <div class="ini">
                    <div class="ini-count">01</div>
                    <div class="ini-info">
                        <h3 class="ini-heading item-heading-large">Utilizar Internet</h3>
                        <div class="ini-desc">
                            <p>Al utilizar Internet como un complemento de búsqueda de empleo, tendrás una carta blanca a la mano. Esto es, porque puedes hallar todo tipo de trabajo y enviar fácilmente el CV.</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-12 item">
                <div class="ini">
                    <div class="ini-count">02</div>
                    <div class="ini-info">
                        <h3 class="ini-heading item-heading-large">Restringir</h3>
                        <div class="ini-desc">
                            <p>Se puede restringir la búsqueda en una zona exclusiva de interés, no importa el sitio en el que se vive o el cambio que se hace.</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-12 item">
                <div class="ini">
                    <div class="ini-count">03</div>
                    <div class="ini-info">
                        <h3 class="ini-heading item-heading-large">Posibilidad</h3>
                        <div class="ini-desc">
                            <p>Tienes la posibilidad de hacer entrevistas de trabajo o cualquier test por medio de la Red.</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-12 item">
                <div class="ini">
                    <div class="ini-count">04</div>
                    <div class="ini-info">
                        <h3 class="ini-heading item-heading-large">Gestión</h3>
                        <div class="ini-desc">
                            <p>Habrá una gestión controlada del proceso de búsqueda de trabajo. Esto es gracias a cada una de las ofertas que has podido responder, como también, CV enviados.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section><!-- End advantages -->


	</div>

		<a class="bff d-none d-md-block" href="https://cvapp.es/">
    <div class="container">
        <div class="row">
            <div class="col">
                <div class="bff-container">
                    <p>ESTAS BUSCANDO TU PROXIMO EMPLEO</p>
                    <div class="btn btn-border btn-small">
                        <span>Descarga Curriculo</span>
                        <svg class="btn-icon-right" viewBox="0 0 13 9" width="13" height="9"><use xlink:href="assets/img/sprite.svg#arrow-right"></use></svg>
                    </div>
                </div>
            </div>
        </div>
    </div>
</a>
{% endblock %}


