{% extends "app/base.html" %}
{% load static %}

{% block contenido %}

			<!-- Begin bread crumbs -->
			<nav class="bread-crumbs">
				<div class="container">
					<div class="row">
						<div class="col-12">
							<ul class="bread-crumbs-list">
								<li>
									<a href="{% url 'Inicio' %}">Inicio</a>
									<i class="material-icons md-18">chevron_right</i>
								</li>
								<li><a href="#!">Servicios</a></li>
							</ul>
						</div>
					</div>
				</div>
			</nav><!-- End bread crumbs -->

			<div class="section">
				<div class="container">
					<div class="row items">
						<div class="col-12">
							<div class="section-heading heading-center">
								<div class="section-subheading">Area de Servicios</div>
								<h1>Los Servicios</h1>
							</div>
						</div>
						<div class="col-lg-4 col-md-6 col-12 item">
							<!-- Begin icon item -->
							<a href="{% url 'Soluciones' %}" class="iitem item-style">
								<div class="iitem-icon">
									<i class="material-icons material-icons-outlined md-48">corporate_fare</i>
								</div>
								<div class="iitem-icon-bg">
									<i class="material-icons material-icons-outlined">corporate_fare</i>
								</div>
								<h2 class="iitem-heading item-heading-large">Brindamos Información de empresas.</h2>
								<div class="iitem-desc">Donde puedes observa algunas empresas que proporcionan convocatorias para nuevos empleados</div>
							</a>
						</div>
						<div class="col-lg-4 col-md-6 col-12 item">
							<!-- Begin icon item -->
							<a href="{% url 'Soluciones' %}" class="iitem item-style">
								<div class="iitem-icon">
									<i class="material-icons material-icons-outlined md-48">support_agent</i>
								</div>
								<div class="iitem-icon-bg">
									<i class="material-icons material-icons-outlined">support_agent</i>
								</div>
								<h2 class="iitem-heading item-heading-large">Informacion relacionado a los empleos mejor pagos.</h2>
								<div class="iitem-desc">Podas darte una idea sobre las empresas mejor pagadas en mexico.</div>
							</a>
						</div>
						<div class="col-lg-4 col-md-12 col-12 item">
							<!-- Begin icon item -->
							<a href="{% url 'Soluciones' %}" class="iitem item-style">
								<div class="iitem-icon">
									<i class="material-icons material-icons-outlined md-48">cloud_download</i>
								</div>
								<div class="iitem-icon-bg">
									<i class="material-icons material-icons-outlined">cloud_download</i>
								</div>
								<h2 class="iitem-heading item-heading-large">Nuestro Contracto</h2>
								<div class="iitem-desc">Proporcionamos nuestros datos para que nos puedas contactar para aclar cualquier duda que tengas.</div>
							</a>
						</div>
					</div>
				</div>
			</div>

		</div>

		<a class="bff d-none d-md-block" href="https://cvapp.es/">
    <div class="container">
        <div class="row">
            <div class="col">
                <div class="bff-container">
                    <p>ESTAS BUSCANDO TU PROXIMO EMPLEO</p>
                    <div class="btn btn-border btn-small">
                        <span>Descarga Curriculo</span>
                        <svg class="btn-icon-right" viewBox="0 0 13 9" width="13" height="9"><use xlink:href="assets/img/sprite.svg"></use></svg>
                    </div>
                </div>
            </div>
        </div>
    </div>
</a>
{% endblock %}